In [ ]:
# Install a conda package in the current Jupyter kernel
import sys
# !conda install --yes --prefix {sys.prefix} -c conda-forge auto-sklearn
!conda install --yes --prefix {sys.prefix} -c conda-forge pyrfr

In [8]:
import os
import pandas as pd
import numpy as np
import holoviews as hv
import collections
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
import sklearn.model_selection
import sklearn.datasets
import sklearn.metrics

import autosklearn.regression

ImportError: No module named 'autosklearn'

### Read dataset

In [9]:
ds = pd.read_csv("./ds_out_ready.csv", delimiter='\t', dtype=str)

In [10]:
ds.columns

Index(['id', 'SitID', 'HorID', 'lng', 'lat', 'DPHI', 'GR', 'ILD', 'NPHI',
       'DPHIr1', 'GRr1', 'ILDr1', 'NPHIr1', 'DPHIr2', 'GRr2', 'ILDr2',
       'NPHIr2', 'DPHIr3', 'GRr3', 'ILDr3', 'NPHIr3', 'DPHIr4', 'GRr4',
       'ILDr4', 'NPHIr4', 'DPHIr5', 'GRr5', 'ILDr5', 'NPHIr5', 'DPHIr6',
       'GRr6', 'ILDr6', 'NPHIr6', 'DPHIr7', 'GRr7', 'ILDr7', 'NPHIr7',
       'DPHIr8', 'GRr8', 'ILDr8', 'NPHIr8', 'DPHIr9', 'GRr9', 'ILDr9',
       'NPHIr9', 'DPHIr10', 'GRr10', 'ILDr10', 'NPHIr10', 'Pick'],
      dtype='object')

In [11]:
ds = ds[['Pick', 'HorID', 'lng', 'lat', 'DPHI', 'GR', 'ILD', 'NPHI',
       'DPHIr1', 'GRr1', 'ILDr1', 'NPHIr1', 'DPHIr2', 'GRr2', 'ILDr2',
       'NPHIr2', 'DPHIr3', 'GRr3', 'ILDr3', 'NPHIr3', 'DPHIr4', 'GRr4',
       'ILDr4', 'NPHIr4', 'DPHIr5', 'GRr5', 'ILDr5', 'NPHIr5', 'DPHIr6',
       'GRr6', 'ILDr6', 'NPHIr6', 'DPHIr7', 'GRr7', 'ILDr7', 'NPHIr7',
       'DPHIr8', 'GRr8', 'ILDr8', 'NPHIr8', 'DPHIr9', 'GRr9', 'ILDr9',
       'NPHIr9', 'DPHIr10', 'GRr10', 'ILDr10', 'NPHIr10']]

In [12]:
ds.head()

,Pick,HorID,lng,lat,DPHI,GR,ILD,NPHI,DPHIr1,GRr1,...,ILDr8,NPHIr8,DPHIr9,GRr9,ILDr9,NPHIr9,DPHIr10,GRr10,ILDr10,NPHIr10
0,393.0,1000,-114.620656,55.288691,0.299,72.249,3.338,0.429,0.215,88.40299999999999,...,4.0969999999999995,0.355,0.374,54.888000000000005,3.8480000000000003,0.48100000000000004,0.45399999999999996,61.614,3.267,0.536
1,549.0,4000,-114.620656,55.288691,0.247,76.644,4.313,0.427,0.226,78.22399999999999,...,4.75,0.41,0.22899999999999998,55.81100000000001,5.105,0.43799999999999994,0.201,56.461000000000006,5.621,0.29600000000000004
2,584.0,5000,-114.620656,55.288691,0.184,72.472,5.379,0.357,0.21,82.79799999999999,...,6.752000000000001,0.33,0.12,70.858,7.297000000000001,0.326,0.132,74.797,7.74,0.308
3,597.0,7000,-114.620656,55.288691,0.18,69.942,4.265,0.367,0.528,78.46600000000001,...,6.046,0.40299999999999997,0.28,74.096,6.132000000000001,0.39899999999999997,0.221,74.69,6.103,0.37200000000000005
4,607.0,11000,-114.620656,55.288691,0.191,57.457,9.279,0.312,0.15,93.824,...,10.898,0.312,0.204,46.169,11.922,0.308,0.19899999999999998,41.485,11.464,0.302