In [3]:
getwd()

[1] "D:/Users/drome/gitrepos/spe 06/MannvilleGroup_Strat_Hackathon"

## 1.0 Import Libraries

In [2]:
library(tidyverse)
library(stringr)
library(ggplot2)
library(RMySQL)

## 2.0 Read Data

### 2.1 Connect database

In [5]:
# set credentials
user <- "root"
password <- "Dario5793"
database_name <- "dblas"
host <- "localhost"

In [6]:
# open connection
con = dbConnect(MySQL(), user=user, password=password, dbname=database_name, host=host)

### 2.2 Create generic SQL Statements

In [46]:
# sql statements
statement_well <- "select SitID, HorID, Pick, lat, lng from well_lat_lng;"
statement_logs <- "select * from logs limit 10;"

### 2.3 Read data

### 2.3.1 Well data

In [7]:
# create sql statement
statement <- "select SitID, HorID, Pick, lat, lng from well_lat_lng;"
rs <- dbSendQuery(con, statement)
# fetch data from result set and convert to a tibble
well <- as_tibble(fetch(rs, n = 20))
class(well)
hasCompltd <- dbHasCompleted(rs)
isCleardRS <- dbClearResult(rs)

[1] "tbl_df"     "tbl"        "data.frame"

In [8]:
head(well)

  SitID  HorID Pick  lat      lng
1 102496 13000 475.0 54.78591 -110.1293
2 102497 13000 515.0 54.78228 -110.2694
3 102498 13000 480.0 54.78589 -110.1869
4 102500 13000 549.0 54.82962 -110.2694
5 102501 13000 529.0 54.84047 -110.2248
6 102503 13000 488.5 54.77145 -110.4030

### 2.3.2 Logs data

In [9]:
# create sql statement
statement <- "select * from logs limit 20;"
rs <- dbSendQuery(con, statement)
# fetch data from result set and convert to a tibble
logs <- as_tibble(fetch(rs, n = 20))
class(logs)
hasCompltd <- dbHasCompleted(rs)
isCleardRS <- dbClearResult(rs)

[1] "tbl_df"     "tbl"        "data.frame"

In [167]:
head(logs)

  SitID  DEPT   DPHI  GR     ILD   NPHI
1 142218 390.00 0.199 82.478 2.923 0.457
2 142218 390.25 0.208 86.413 2.925 0.456
3 142218 390.50 0.246 90.229 2.917 0.452
4 142218 390.75 0.266 90.944 2.898 0.475
5 142218 391.00 0.287 88.866 2.890 0.484
6 142218 391.25 0.288 82.638 2.844 0.474

In [63]:
require(purrr)

In [129]:
row_num <- 7
# data <- as.matrix(filter(logs, between(row_number(), row_num + 1, row_num + row_num - 1)))
data <- as.matrix(filter(logs, between(row_number(), row_num + 1, row_num + 5)))
data_aft <- as_tibble(cbind(nms = names(c('SitID', 'DEPT', 'DPHI', 'GR', 'ILD', 'NPHI')), t(data)))

In [136]:
data <- as.matrix(filter(logs, between(row_number(), -row_num, row_num)))
data_bef <- as_tibble(cbind(nms = names(c('SitID', 'DEPT', 'DPHI', 'GR', 'ILD', 'NPHI')), t(data)))

In [132]:
data_bef

  V1     V2
1 142218 142218
2 390.00 390.25
3 0.199  0.208
4 82.478 86.413
5 2.923  2.925
6 0.457  0.456

In [137]:
data

     SitID  DEPT   DPHI  GR     ILD   NPHI
[1,] 142218 390.00 0.199 82.478 2.923 0.457
[2,] 142218 390.25 0.208 86.413 2.925 0.456
[3,] 142218 390.50 0.246 90.229 2.917 0.452
[4,] 142218 390.75 0.266 90.944 2.898 0.475
[5,] 142218 391.00 0.287 88.866 2.890 0.484
[6,] 142218 391.25 0.288 82.638 2.844 0.474
[7,] 142218 391.50 0.241 83.345 2.748 0.461

In [165]:
x = tibble(value = c(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20))
# x
row_righ = 7
row_left = row_righ - 5
t(filter(x, between(row_number(), left = row_left, right = row_righ - 1)))

      [,1] [,2] [,3] [,4] [,5]
value 2    3    4    5    6

In [166]:
row_left = 7
row_righ = row_left + 5
t(filter(x, between(row_number(), left = row_left + 1, right = row_righ)))

      [,1] [,2] [,3] [,4] [,5]
value 8    9    10   11   12

In [37]:
dbDisconnect(con)

[1] TRUE

## 3.0 Create Model

## 4.0 Train Model

## 5.0 Test Model