In [1]:
!pwd

D:\Users\drome\gitrepos\spe 06\MannvilleGroup_Strat_Hackathon

In [2]:
import os
import glob
import pandas as pd
import numpy as np
import holoviews as hv
import matplotlib.pyplot as plt
%matplotlib inline
import lasio
lasio.__version__

'0.19'

In [3]:
home = "./SPE_006_originalData/OilSandsDB"

In [4]:
# describe the stratigraphic picks used in Picks
picks_dicts = pd.read_table(home + "/PICKS_DIC.TXT", delimiter='\t')
picks_dicts.head()

   HorID Descriptopn
0   1000   mannville
1   2000         t61
2   3000         t51
3   4000         t41
4   5000         t31

In [5]:
# stratigraphic picks
picks = pd.read_table(home + "/PICKS.TXT", delimiter='\t')
picks.head()

    SitID  HorID      Pick  Quality
0  102496   1000       321        1
1  102496   2000                 -1
2  102496   3000                 -1
3  102496   4000                 -1
4  102496   5000       438        2

In [158]:
# list of wells
wellst = pd.read_csv(home + "/WELLS.TXT", delimiter= '\t', dtype=str)
wellst.head()

    SitID      UWI (AGS)                  UWI
0  102496  0674010812000  00/12-08-067-01W4/0
1  102497  0674020807000  00/07-08-067-02W4/0
2  102498  0674021109000  00/09-11-067-02W4/0
3  102500  0674022910000  00/10-29-067-02W4/0
4  102501  0674023406000  00/06-34-067-02W4/0

In [7]:
wellst.tail()

       SitID      UWI (AGS)                  UWI
2188  126239  1014133011AA0  AA/11-30-101-13W4/0
2189  126240  1014140811AA0  AA/11-08-101-14W4/0
2190  126241  1014141414AA0  AA/14-14-101-14W4/0
2191  126243  1014142906AA0  AA/06-29-101-14W4/0
2192  126244  1014143506AA0  AA/06-35-101-14W4/0

In [ ]:
wellst.iloc[2192].UWI[9:12] + "-" + wellst.iloc[2192].UWI[16:17] + "-" + wellst.iloc[2192].UWI[13:15] + "-" + \
wellst.iloc[2192].UWI[6:8] + "-" + wellst.iloc[2192].UWI[3:5] + "-" + wellst.iloc[2192].UWI[0:2] + "-" + \
wellst.iloc[2192].UWI[18:19]

In [8]:
# las files
path_logs = home + "/Logs"
las = [x for x in os.listdir(path_logs + "/") if x.endswith(".LAS")]
print("# LAS files: " + str(len(las)))

# LAS files: 2171

In [9]:
wellname = 'AB-07-12-093-10W4-0'
lasio.read(path_logs + "/" + wellname + ".LAS").df().head()

        ILD      GR     CALI   NPHI
DEPT
3.00  4.785  40.188  318.972  0.532
3.25  4.277  42.542  320.911  0.563
3.50  6.303  43.705  320.850  0.547
3.75  3.963  40.679  321.774  0.467
4.00  3.413  31.046  322.714  0.481

### Reading LAS Files with lasio

In [10]:
las = [lasio.read(path_logs + "/" + filename) for filename in os.listdir(path_logs) if filename.endswith(".LAS")]
type(las), type(las[0])

Header section Parameter regexp=~P was not found.

(list, lasio.las.LASFile)

In [11]:
las[2153].header['Well']

[HeaderItem(mnemonic=WELL, unit=, value=AMOCO AOSTRA GLISPLH1, descr=Well_nam...),
 HeaderItem(mnemonic=LOC, unit=, value=AB/05-02-086-07W4/0, descr=Location   ...),
 HeaderItem(mnemonic=UWI, unit=, value=AB/05-02-086-07W400, descr=Uwi        ...),
 HeaderItem(mnemonic=ENTR, unit=, value=KATHY, descr=Entered      - ENTERED BY),
 HeaderItem(mnemonic=SRVC, unit=, value=SCHLUMBERGER, descr=Scn          - SE...),
 HeaderItem(mnemonic=STRT, unit=M, value=160, descr=top_depth    - START DEPTH),
 HeaderItem(mnemonic=STOP, unit=M, value=235.001, descr=bot_depth    - STOP D...),
 HeaderItem(mnemonic=STEP, unit=M, value=0.3, descr=increment    - STEP LENGTH),
 HeaderItem(mnemonic=NULL, unit=, value=-999.25, descr=NULL Value)]

In [12]:
las[2153].header['Parameter']

[HeaderItem(mnemonic=GL, unit=M, value=478.6, descr=gl           - GROUND LEV...),
 HeaderItem(mnemonic=EREF, unit=M, value=480, descr=kb           - ELEVATION ...),
 HeaderItem(mnemonic=DATM, unit=M, value=480, descr=datum        - DATUM ELEV...),
 HeaderItem(mnemonic=TDD, unit=M, value=241, descr=tdd          - TOTAL DEPTH...),
 HeaderItem(mnemonic=RUN, unit=, value=ONE, descr=Run          - RUN NUMBER),
 HeaderItem(mnemonic=ENG, unit=, value=BILL, descr=Engineer     - RECORDING E...),
 HeaderItem(mnemonic=WIT, unit=, value=JIM, descr=Witness      - WITNESSED BY),
 HeaderItem(mnemonic=MUD, unit=, value=GEL, descr=Mud_type     - MUD TYPE),
 HeaderItem(mnemonic=MATR:1, unit=, value=LIMESTONE, descr=Logunit      - NEU...),
 HeaderItem(mnemonic=TMAX, unit=C, value=60, descr=BHT          - MAXIMUM REC...),
 HeaderItem(mnemonic=BHTD, unit=M, value=241, descr=BHTDEP       - MAXIMUM RE...),
 HeaderItem(mnemonic=MATR:2, unit=, value=1, descr=LOGUNIT      - NEUTRON MATRIX),
 HeaderItem(mnemonic=RMT, unit=C, value=25, descr=MDTP         - TEMPERATURE ...),
 HeaderItem(mnemonic=NEUT, unit=, value=1, descr=NEUTRON      - NEUTRON TYPE),
 HeaderItem(mnemonic=RESI, unit=, value=0, descr=RESIST       - RESISTIVITY TYPE),
 HeaderItem(mnemonic=RMC, unit=OHMM, value=0.25, descr=RMC          - RESISTI...),
 HeaderItem(mnemonic=RMF, unit=OHMM, value=0.25, descr=RMF          - RESISTI...),
 HeaderItem(mnemonic=SUFT, unit=C, value=5, descr=SUFT         - SURFACE TEMP...)]

In [13]:
las[2153].header['Version']

[HeaderItem(mnemonic=VERS, unit=, value=2.0, descr=CWLS LOG ASCII STANDARD -V...),
 HeaderItem(mnemonic=WRAP, unit=, value=NO, descr=ONE LINE PER DEPTH STEP)]

In [14]:
las[2153].header['Curves']

[CurveItem(mnemonic=DEPT, unit=M, value=00 001 00 00, descr=DEPTH        - DEPTH, original_mnemonic=DEPT, data.shape=(251,)),
 CurveItem(mnemonic=GR:1, unit=API, value=00 310 00 00, descr=GR           - GAMMA RAY, original_mnemonic=GR, data.shape=(251,)),
 CurveItem(mnemonic=DPHI:1, unit=V/V, value=00 890 00 00, descr=PHID         - DENSITY POROSITY (LIMESTONE), original_mnemonic=DPHI, data.shape=(251,)),
 CurveItem(mnemonic=ILD:1, unit=OHMM, value=00 120 00 00, descr=RESD         - DEEP RESISTIVITY (DIL), original_mnemonic=ILD, data.shape=(251,)),
 CurveItem(mnemonic=GR:2, unit=API, value=00 310 00 00, descr=GR           - GAMMA RAY, original_mnemonic=GR, data.shape=(251,)),
 CurveItem(mnemonic=DPHI:2, unit=V/V, value=00 890 00 00, descr=PHID         - DENSITY POROSITY (LIMESTONE), original_mnemonic=DPHI, data.shape=(251,)),
 CurveItem(mnemonic=ILD:2, unit=OHMM, value=00 120 00 00, descr=RESD         - DEEP RESISTIVITY (DIL), original_mnemonic=ILD, data.shape=(251,))]

In [15]:
len(las[2153].header['Curves']['DEPT'].data)

251

In [93]:
las[2153].header['Curves']['DEPT'].data[0:10]

array([ 160. ,  160.3,  160.6,  160.9,  161.2,  161.5,  161.8,  162.1,
        162.4,  162.7])

In [17]:
las[2153].header['Curves'].keys()

['DEPT', 'GR:1', 'DPHI:1', 'ILD:1', 'GR:2', 'DPHI:2', 'ILD:2']

In [18]:
# function to retrieve UWI (location may vary within LAS file)
keywds = ['UWI', 'UWI:1', 'UWI:2', 'UWI:3']
def getKeyValue(idx, keywds):
    for keywd in keywds:
        if (keywd) not in las[idx].header["Well"]:
            pass
        else:
            return [keywd, las[idx].header["Well"][keywd].value]

In [19]:
# counting more common curves
curves = []
for i in range(len(las)):
    df_las = las[i].df()
    curves.extend(list(df_las.columns))

In [ ]:
# print all possible curves in the dataset, independent if they are repeated with an index :1, :2
print(curves)

In [21]:
import collections
counter = collections.Counter(curves)
print(counter.keys())
print(counter.values())

dict_keys(['SFLU', 'LITH', 'GR:2', 'GR:1', 'DPHI:1', 'NPHI', 'ILD', 'DPHI', 'SP', 'LLD', 'SN', 'ILD:2', 'SFL', 'SNP', 'CALI', 'LLS', 'COND', 'DENS', 'ILD:1', 'DELT', 'IL', 'RT', 'GR', 'PHIN', 'RESD', 'ILM', 'RHOB', 'DT', 'PHID', 'DPHI:2'])
dict_values([6, 1, 1, 1, 1, 2008, 2154, 1917, 14, 2, 1, 1, 3, 2, 783, 1, 3, 4, 1, 98, 2, 1, 2169, 4, 6, 6, 132, 14, 8, 1])

In [22]:
counter = collections.OrderedDict(sorted(counter.items()))
print(counter.keys())
print(counter.values())

odict_keys(['CALI', 'COND', 'DELT', 'DENS', 'DPHI', 'DPHI:1', 'DPHI:2', 'DT', 'GR', 'GR:1', 'GR:2', 'IL', 'ILD', 'ILD:1', 'ILD:2', 'ILM', 'LITH', 'LLD', 'LLS', 'NPHI', 'PHID', 'PHIN', 'RESD', 'RHOB', 'RT', 'SFL', 'SFLU', 'SN', 'SNP', 'SP'])
odict_values([783, 3, 98, 4, 1917, 1, 1, 14, 2169, 1, 1, 2, 2154, 1, 1, 6, 1, 2, 1, 2008, 8, 4, 6, 132, 1, 3, 6, 1, 2, 14])

In [23]:
las[2153].header['Well']['UWI'].value

'AB/05-02-086-07W400'

In [24]:
las[2153].header['Curves'].keys()

['DEPT', 'GR:1', 'DPHI:1', 'ILD:1', 'GR:2', 'DPHI:2', 'ILD:2']

In [48]:
las[2153].header['Curves']

[CurveItem(mnemonic=DEPT, unit=M, value=00 001 00 00, descr=DEPTH        - DEPTH, original_mnemonic=DEPT, data.shape=(251,)),
 CurveItem(mnemonic=GR:1, unit=API, value=00 310 00 00, descr=GR           - GAMMA RAY, original_mnemonic=GR, data.shape=(251,)),
 CurveItem(mnemonic=DPHI:1, unit=V/V, value=00 890 00 00, descr=PHID         - DENSITY POROSITY (LIMESTONE), original_mnemonic=DPHI, data.shape=(251,)),
 CurveItem(mnemonic=ILD:1, unit=OHMM, value=00 120 00 00, descr=RESD         - DEEP RESISTIVITY (DIL), original_mnemonic=ILD, data.shape=(251,)),
 CurveItem(mnemonic=GR:2, unit=API, value=00 310 00 00, descr=GR           - GAMMA RAY, original_mnemonic=GR, data.shape=(251,)),
 CurveItem(mnemonic=DPHI:2, unit=V/V, value=00 890 00 00, descr=PHID         - DENSITY POROSITY (LIMESTONE), original_mnemonic=DPHI, data.shape=(251,)),
 CurveItem(mnemonic=ILD:2, unit=OHMM, value=00 120 00 00, descr=RESD         - DEEP RESISTIVITY (DIL), original_mnemonic=ILD, data.shape=(251,))]

In [25]:
# Selecting only 1919 wells which have common curves: DEPT; DPHI; GR; ILD; NPHI
keys = ['DEPT', 'DPHI', 'DPHI:1', 'DPHI:2', 'GR', 'GR:1', 'GR:2', 'ILD', 'ILD:1', 'ILD:2', \
        'NPHI', 'NPHI:1', 'NPHI:2', 'PHIN', 'PHIN:1', 'PHIN:2']
values = ['DEPT', 'DPHI', 'DPHI', 'DPHI', 'GR', 'GR', 'GR', 'ILD', 'ILD', 'ILD', \
          'NPHI', 'NPHI', 'NPHI', 'NPHI', 'NPHI', 'NPHI']
dictOfCurves = dict(zip(keys, values))

columns = ['i', 'key_uwi', 'uwi', 'curvesNew', 'curvesOld']
rows = []

In [ ]:
# find ':' on curve header name
import re
def findColon(name):
    m = re.search("\:", name)
    if (m is not None):
        return m.span()[0]

In [ ]:
# create dataframe with normalized curves' names
for i in range(len(las)):
    las_curves = las[i].header['Curves'].keys()
    c = [str(dictOfCurves[c]) for c in keys if c in las_curves]
    key_uwi, uwi = getKeyValue(i, keywds)
    rows.append([i, key_uwi, uwi, list(set(c)), las_curves])
    
df = pd.DataFrame(rows, columns=columns)
rows = []
df = df.reset_index(drop=True)

In [92]:
df.head()

,i,key_uwi,uwi,curvesNew,curvesOld
0,0,UWI,00/01-01-073-05W5/0,"[DPHI, DEPT, ILD, GR, NPHI]","[DEPT, DPHI, NPHI, GR, CALI, ILD]"
1,1,UWI,00/01-01-095-19W4/0,"[DPHI, DEPT, ILD, GR, NPHI]","[DEPT, GR, CALI, NPHI, DPHI, ILD]"
2,2,UWI,00/01-03-085-15W400,"[DPHI, DEPT, ILD, GR, NPHI]","[DEPT, DPHI, NPHI, GR, ILD]"
3,3,UWI,00/01-04-075-23W4/0,"[DPHI, DEPT, ILD, GR, NPHI]","[DEPT, ILD, NPHI, DPHI, GR, CALI]"
4,4,UWI,00/01-05-085-15W400,"[DPHI, DEPT, ILD, GR, NPHI]","[DEPT, GR, NPHI, DPHI, ILD]"

In [27]:
len(df)

2171

In [28]:
# drop rows with less than 5 curves including DEPT
dfl = df[df['curvesNew'].map(len) > 4]
dfl = dfl.reset_index(drop=True)

In [29]:
len(dfl)

1848

In [91]:
dfl.head()

,i,key_uwi,uwi,curvesNew,curvesOld
0,0,UWI,00/01-01-073-05W5/0,"[DPHI, DEPT, ILD, GR, NPHI]","[DEPT, DPHI, NPHI, GR, CALI, ILD]"
1,1,UWI,00/01-01-095-19W4/0,"[DPHI, DEPT, ILD, GR, NPHI]","[DEPT, GR, CALI, NPHI, DPHI, ILD]"
2,2,UWI,00/01-03-085-15W400,"[DPHI, DEPT, ILD, GR, NPHI]","[DEPT, DPHI, NPHI, GR, ILD]"
3,3,UWI,00/01-04-075-23W4/0,"[DPHI, DEPT, ILD, GR, NPHI]","[DEPT, ILD, NPHI, DPHI, GR, CALI]"
4,4,UWI,00/01-05-085-15W400,"[DPHI, DEPT, ILD, GR, NPHI]","[DEPT, GR, NPHI, DPHI, ILD]"

In [ ]:
dl = pd.DataFrame([], columns=['UWI', 'DEPT', 'DPHI', 'GR', 'ILD', 'NPHI'])
dl.columns

for i in range(len(dfl)):
    well_num = dfl.iloc[i]['i']
    uwi_type = dfl.iloc[i]['key_uwi']
    uwi = las[well_num].header['Well'][uwi_type].value

    nrecords = len(las[well_num].header['Curves']['DEPT'].data)

    UWI = pd.Series([uwi] * nrecords)
    DEPT = pd.Series(las[well_num].header['Curves']['DEPT'].data)
    DPHI = pd.Series(las[well_num].header['Curves']['DPHI'].data)
    GR = pd.Series(las[well_num].header['Curves']['GR'].data)
    ILD = pd.Series(las[well_num].header['Curves']['ILD'].data)
    NPHI = pd.Series(las[well_num].header['Curves']['NPHI'].data)

    d = {
        'UWI': UWI,
        'DEPT': DEPT,
        'DPHI': DPHI,
        'GR': GR,
        'ILD': ILD,
        'NPHI': NPHI
    }
    dl = dl.append(pd.DataFrame(d), ignore_index=True)

In [122]:
dl.head()

     DEPT   DPHI      GR    ILD   NPHI                  UWI        UWI_AGS
0  390.00  0.199  82.478  2.923  0.457  00/01-01-073-05W5/0  0735050101000
1  390.25  0.208  86.413  2.925  0.456  00/01-01-073-05W5/0  0735050101000
2  390.50  0.246  90.229  2.917  0.452  00/01-01-073-05W5/0  0735050101000
3  390.75  0.266  90.944  2.898  0.475  00/01-01-073-05W5/0  0735050101000
4  391.00  0.287  88.866  2.890  0.484  00/01-01-073-05W5/0  0735050101000

In [94]:
# fix some wrong UWI using UWI (AGS)
def getUWIAGS(wrongUWI):

    s1 = wrongUWI[9:12]
    s2 = wrongUWI[16:17]
    s3 = wrongUWI[13:15]
    s4 = wrongUWI[6:8]
    s5 = wrongUWI[3:5]
    s6 = wrongUWI[0:2]
    s7 = wrongUWI[18:19]
    
    return(s1 + s2 + s3 + s4 + s5 + s6 + s7)

In [96]:
getUWIAGS('AD/05-15-088-08W400')

'0884081505AD0'

In [111]:
len(dl)

1474751

In [119]:
(dl.iloc[1474750].UWI, getUWIAGS(dl.iloc[1474750].UWI))

('AD/05-15-088-08W400', '0884081505AD0')

In [118]:
# adding UWI_AGS column to join table Wellst which has the SitID. SitID is common to all data tables
dl['UWI_AGS'] = [getUWIAGS(dl.iloc[i].UWI) for i in range(len(dl))]

In [121]:
dl.head()

     DEPT   DPHI      GR    ILD   NPHI                  UWI        UWI_AGS
0  390.00  0.199  82.478  2.923  0.457  00/01-01-073-05W5/0  0735050101000
1  390.25  0.208  86.413  2.925  0.456  00/01-01-073-05W5/0  0735050101000
2  390.50  0.246  90.229  2.917  0.452  00/01-01-073-05W5/0  0735050101000
3  390.75  0.266  90.944  2.898  0.475  00/01-01-073-05W5/0  0735050101000
4  391.00  0.287  88.866  2.890  0.484  00/01-01-073-05W5/0  0735050101000

In [120]:
dl.tail()

,DEPT,DPHI,GR,ILD,NPHI,UWI,UWI_AGS
1474746,142.00,0.039,64.370,50.572,0.149,AD/05-15-088-08W400,0884081505AD0
1474747,142.25,0.034,64.406,51.559,0.152,AD/05-15-088-08W400,0884081505AD0
1474748,142.50,0.032,60.770,56.706,0.156,AD/05-15-088-08W400,0884081505AD0
1474749,142.75,0.039,53.479,61.181,0.148,AD/05-15-088-08W400,0884081505AD0
1474750,143.00,0.030,48.631,61.220,0.150,AD/05-15-088-08W400,0884081505AD0

In [123]:
wellst.columns

Index(['SitID', 'UWI (AGS)', 'UWI'], dtype='object')

In [163]:
# drinks['beer_servings'] = drinks.beer_servings.astype(float)
dl = pd.merge(dl, wellst[['SitID', 'UWI (AGS)']], left_on='UWI_AGS', right_on='UWI (AGS)', how='left')
dt = dl[['SitID', 'DEPT', 'DPHI', 'GR', 'ILD', 'NPHI']]
dt.head()

          SitID    DEPT   DPHI      GR     ILD   NPHI
1474746  117119  142.00  0.039  64.370  50.572  0.149
1474747  117119  142.25  0.034  64.406  51.559  0.152
1474748  117119  142.50  0.032  60.770  56.706  0.156
1474749  117119  142.75  0.039  53.479  61.181  0.148
1474750  117119  143.00  0.030  48.631  61.220  0.150

In [ ]:
dt.tail()