In [2]:
import pandas as pd
import numpy as np

In [3]:
# ============= dataframe ==============
dt1 = pd.DataFrame({'SitID': ['142218', '142218', '142218', '142218', '142235', '142235', '142235', '142235'], \
                    'DEPT': [390.00, 390.25, 390.50, 390.75, 399.75, 400.00, 400.25, 400.50], \
                    'DPHI': [0.199, 0.208, 0.246, 0.266, 0.468, 0.471, 0.448, 0.478]}, \
                   columns=['SitID', 'DEPT', 'DPHI'])

picks1 = pd.DataFrame({'SitID': ['142218', '142218', '142218', '142218', '142235', '142235', '142235', '142235'], \
                       'HorID': ['9000', '10000', '11000', '12000', '10000', '11000', '12000', '13000'], \
                       'Pick': [390.25, 390.50, 390.75, 400.00, 399.50, 399.75, 400.00, 400.25]}, \
                      columns=['SitID', 'HorID', 'Pick'])
pd.merge(left=dt1, right=picks1, left_on=['SitID', 'DEPT'], right_on=['SitID', 'Pick'], how='left')

    SitID    DEPT   DPHI  HorID    Pick
0  142218  390.00  0.199    NaN     NaN
1  142218  390.25  0.208   9000  390.25
2  142218  390.50  0.246  10000  390.50
3  142218  390.75  0.266  11000  390.75
4  142235  399.75  0.468  11000  399.75
5  142235  400.00  0.471  12000  400.00
6  142235  400.25  0.448  13000  400.25
7  142235  400.50  0.478    NaN     NaN