In [3]:
!python -V

Python 3.6.3 :: Anaconda custom (64-bit)

In [ ]:
# !pip install tensorflow-gpu

In [2]:
import tensorflow as tf

In [4]:
import pandas as pd
import numpy as np

In [5]:
L1 = ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'C', 'C', 'C', 'C', 'C', 'C', 'C']
L2 = [15.64, 48.61, 52.55, 10.86, 46.95, 69.71, 39.75, 66.81, 68.11, \
      26.04, 80.23, 56.01, 26.43, 64.53, 42.44,  9.37, 47.41, 42.42, \
      87.77, 47.27, 15.02]
X = [0.76737065, 0.37262098, 0.77949884, 0.2010819 , 0.45119033, \
     0.31415268, 0.57146618, 0.72827904, 0.8682373 , 0.10409761, \
     0.23388043, 0.21963463, 0.95470272, 0.51036359, 0.40584822, \
     0.77598244, 0.21928165, 0.97861107, 0.08981522, 0.45325325, \
     0.21536018]
# Y = [0.98183842, 0.98061985, 0.86655134, 0.52254501, 0.76089453, \
#      0.73183496, 0.67529114, 0.52863092, 0.07035535, 0.69897242, \
#      0.73385255, 0.39399209, 0.24091486, 0.53669936, 0.80958593, \
#      0.80679457, 0.95086572, 0.06040778, 0.23175234, 0.02148437, \
#      0.94728914]
# Z = [0.78685999, 0.34003929, 0.10679708, 0.07822647, 0.72405963, \
#      0.88941531, 0.42737683, 0.32759782, 0.08717753, 0.09018296, \
#      0.88655664, 0.75499916, 0.59637861, 0.01925546, 0.5426709 , \
#      0.8194985 , 0.30075265, 0.86956156, 0.17491197, 0.3505722 , \
#      0.51643771]
# P = [0.09517944, 0.08604814, 0.40881282, 0.07114712, 0.55050158, \
#      0.92561772, 0.99025644, 0.72997158, 0.52222031, 0.8445995 , \
#      0.32791337, 0.41555842, 0.81213603, 0.49849028, 0.55571563, \
#      0.42184218, 0.58919304, 0.46465246, 0.19070682, 0.41856319, \
#      0.94152159]

In [6]:
d = {'L1': L1, 'L2': L2, 'X': X}
df = pd.DataFrame(data=d)
df.set_index(['L1', 'L2'], inplace = True)

In [7]:
df[:30]

                 X
L1 L2
A  15.64  0.767371
   48.61  0.372621
   52.55  0.779499
   10.86  0.201082
   46.95  0.451190
   69.71  0.314153
   39.75  0.571466
   66.81  0.728279
   68.11  0.868237
   26.04  0.104098
   80.23  0.233880
   56.01  0.219635
   26.43  0.954703
   64.53  0.510364
C  42.44  0.405848
   9.37   0.775982
   47.41  0.219282
   42.42  0.978611
   87.77  0.089815
   47.27  0.453253
   15.02  0.215360

In [10]:
df.index.slice_locs

<bound method MultiIndex.slice_locs of MultiIndex(levels=[['A', 'C'], [9.37, 10.86, 15.02, 15.64, 26.04, 26.43, 39.75, 42.42, 42.44, 46.95, 47.27, 47.41, 48.61, 52.55, 56.01, 64.53, 66.81, 68.11, 69.71, 80.23, 87.77]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1], [3, 12, 13, 1, 9, 18, 6, 16, 17, 4, 19, 14, 5, 15, 8, 0, 11, 7, 20, 10, 2]],
           names=['L1', 'L2'])>

In [11]:
idx = df.index.get_loc(('A', 69.71))
idx

5

In [12]:
df.iloc[idx-5:idx].transpose()

L1         A
L2     15.64     48.61     52.55     10.86    46.95
X   0.767371  0.372621  0.779499  0.201082  0.45119

In [13]:
df.iloc[idx+1:idx+6].transpose()

L1         A
L2     39.75     66.81     68.11     26.04    80.23
X   0.571466  0.728279  0.868237  0.104098  0.23388

In [ ]:
# ===========================================================================================

In [47]:
df = pd.DataFrame(data=d, 
     index=pd.date_range('2015-01-01','2015-03-31'),columns=['A', 'B'])

In [49]:
len(df)

90

In [ ]:
idx = df.index.get_loc('2015-01-17')
df.iloc[idx - 10 : idx].transpose() # 10 observations before

In [ ]:
dft = df.iloc[idx - 10 : idx].transpose()
dft.iloc[:, :].values

In [ ]:
df.iloc[idx + 1 : idx + 11].transpose() # 10 observations after

In [ ]:
df.index.names

In [ ]:
# =============================================================================================

In [74]:
buckets = np.repeat(['a','b','c'], [3,5,1])
# buckets = ['a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'c']
sequence = [0,1,5,0,1,2,4,50,0]

In [81]:
p = np.random.randn(len(sequence))
p = [ 0.13547333,  0.12050318,  0.79667741,  1.13154469, -0.76221231,
        0.48011912,  1.00599401, -1.04893034, -0.29903331]
# q = [ 1.14128175, -0.93151794, -0.04459442,  0.83357158,  0.247773  ,
#        -0.71857894, -0.12140772, -0.41506347,  0.33243907]

In [87]:
# pd.MultiIndex.from_tuples(list(zip(buckets, sequence)))
s = pd.Series(p, index=pd.MultiIndex.from_tuples(list(zip(buckets, sequence))))
# t = pd.Series(q, index=pd.MultiIndex.from_tuples(list(zip(buckets, sequence))))

MultiIndex(levels=[['a', 'b', 'c'], [0, 1, 2, 4, 5, 50]],
           labels=[[0, 0, 0, 1, 1, 1, 1, 1, 2], [0, 1, 4, 0, 1, 2, 3, 5, 0]])

In [88]:
# m = pd.DataFrame([s, t], index=pd.MultiIndex.from_tuples(list(zip(buckets, sequence))))
s

a  0     0.135473
   1     0.120503
   5     0.796677
b  0     1.131545
   1    -0.762212
   2     0.480119
   4     1.005994
   50   -1.048930
c  0    -0.299033
dtype: float64

In [79]:
s['b']

0     1.131545
1    -0.762212
2     0.480119
4     1.005994
50   -1.048930
dtype: float64

In [107]:
L1 = 'a'
low = 0
hig = 5
L2 = slice(low, hig)
# s.loc[('b', slice(2, 5))]
s.loc[(L1, L2)]

a  0    0.135473
   1    0.120503
   5    0.796677
dtype: float64